[Desktop Entry]
Encoding=UTF-8
Name=Tux Paint
Comment=Tux Paint drawing program for children.
Comment[pl]=Tux Paint - Prosty program do rysowania dla dzieci
Exec=tuxpaint
Icon=tuxpaint.png
Type=Application
Terminal=false
